<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <!-- TODO config changes for keyboard -->
            <h2>Welcome to the alpha version of the BattleCity Tanks!</h2>
            <hr>
            <span>Your main mission is to destroy enemy tanks.</span>
            <br><br>
            <div class="text-center">
                <span>Keyboard controls: </span>
                <br>
                <span> 	&#9679; w - move tank up</span>
                <br>
                <span> 	&#9679; a - move tank left</span>
                <br>
                <span> 	&#9679; s - move tank down</span>
                <br>
                <span> 	&#9679; d - move tank right</span>
                <br>
                <span> 	&#9679; SPACE - shoot</span>
            </div>
            <br>
            <h4>If you think you have what it takes to be the best. Press "Play" button.</h4>
            <br>
        </div>
    </div>
</div>
